<h1>My Trips <%= button_to 'Add a trip', new_user_trip_path, :method => :get %></h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Date start</th>
    <th>Date end</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.name %></td>
    <td><%= trip.date_start.strftime("%B %d, %Y") %></td>
    <td><%= trip.date_end.strftime("%B %d, %Y") %></td>
    <td><%= trip.notes %></td>
    <td><%= link_to 'Show', user_trip_path(@user, trip) %></td>
    <td><%= link_to 'Destroy', user_trip_path(@user, trip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


