<p id="notice"><%= notice %></p>

<p>
  <h1><%= @trip.name %></h1>
  <%= button_to 'Edit trip', edit_user_trip_path(@user,@trip), :method => :get %>
</p>

<% if @trip.date_end < Date.today - 1.day %>
  <div class="trip-warning">
    Whoa!  Looks like this trip is in the past.  Maybe try <%= link_to 'updating it.', edit_user_trip_path(@user,@trip) %>
  </div><br />
<% end %>

<p>
  <b>Start: </b>
  <%= @trip.date_start.strftime("%B %d, %Y") %>

  <b>End: </b>
  <%= @trip.date_end.strftime("%B %d, %Y") %>

  <% unless @trip.notes.empty? %>
    <b>Notes:</b>
    <%= @trip.notes %>
  <% end %>
</p>

<br />
<div class="stops">
  <table class="table">
    <tr>
      <th>School</th>
      <th>Tours?</th>
      <th>School open?</th>
      <th>Plan here!</th>
    </tr>
    <% for stop in @trip.stops %>
    <tr>
      <td><h3><%= link_to stop.school.name, school_path(stop.school) %></h3></td>
      <td>
        <%= matchingTours(@trip,stop) ? image_tag('/images/greenCheck.png', :alt => "green check mark", :width => "55", :height => "55") : image_tag('/images/redX.png', :alt => "red X", :width => "55", :height => "55") %>
      </td>
      <td>
        <%= isSchoolOpen(@trip,stop) ? image_tag('/images/greenCheck.png', :alt => "green check mark", :width => "55", :height => "55") : image_tag('/images/redX.png', :alt => "red X", :width => "55", :height => "55") %>
      </td>
      <td><a href=<%= get_yelp_search('Restaurants',stop.school) %> target="_blank"><img src="/images/yelp_logo.png" alt="Yelp logo" width="66.66" height="50"></a></td>
      <td><a href=<%= get_yelp_search('Hotels',stop.school) %> target="_blank"><img src="/images/bed_hotel_logo.png" alt="hotel bed" width="55" height="55"></a></td>
      <% if @school0 %>
        <td><a href=<%= get_gmaps_directions(@school0,stop.school.name) %> target="_blank">
          <img src="/images/Google-Maps-Logo.png" alt="GMaps logo" width="50" height="50"></a></td>
      <% end %>
      <% @school0 = stop.school.name %>
    </tr>
    <% end %>
  </table>
</div><br />

<div>
  <%= gmaps4rails(@json) %>
</div>