<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Date start:</b>
  <%= @trip.date_start %>
</p>

<p>
  <b>Date end:</b>
  <%= @trip.date_end %>
</p>

<p>
  <b>Notes:</b>
  <%= @trip.notes %>
</p>

<div class="stops">
  <h1>Stops</h1>
  <table>
    <tr>  
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% for stop in @trip.stops %>
    <tr>
      <td><%= link_to stop.school.name, school_path(stop.school) %> </td>
      <td><a href=<%= get_yelp_search('Restaurants',stop.school) %> target="_blank">| Restaurants |</a></td>
      <td><a href=<%= get_yelp_search('Hotels',stop.school) %> target="_blank">Hotels</a></td>
      <% if defined? school0 %>
        <td><%= get_gmaps_directions(school0,stop.school.name) %></td>
      <% end %>
      <% school0 = stop.school.name %> <!-- this line does not work -->
    </tr>
    <% end %>
  </table>
</div><br />

<%= link_to 'Edit', edit_user_trip_path(@user,@trip) %> |
<%= link_to 'Back', user_trips_path %>

<div>
  <%= gmaps4rails(@json) %>
</div>