<p id="notice"><%= notice %></p>

<p>
  <h1><%= @trip.name %></h1>
</p>

<p>
  <b>Start: </b>
  <%= @trip.date_start.strftime("%B %d, %Y") %>

  <b>End: </b>
  <%= @trip.date_end.strftime("%B %d, %Y") %>

  <b>Notes:</b>
  <%= @trip.notes %>
</p>

<br />
<div class="stops">
  <table>
    <tr>  
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% for stop in @trip.stops %>
    <tr>
      <td><h3><%= link_to stop.school.name, school_path(stop.school) %></h3></td>
      <td><a href=<%= get_yelp_search('Restaurants',stop.school) %> target="_blank"> | Restaurants </a></td>
      <td><a href=<%= get_yelp_search('Hotels',stop.school) %> target="_blank"> | Hotels </a></td>
      <% if @school0 %>
        <td><a href=<%= get_gmaps_directions(@school0,stop.school.name) %> target="_blank"> | Directions</a></td>
      <% end %>
      <% @school0 = stop.school.name %>
    </tr>
    <% end %>
  </table>
</div><br />

<%= link_to 'Edit', edit_user_trip_path(@user,@trip) %> |
<%= link_to 'Back', user_trips_path %>

<div>
  <%= gmaps4rails(@json) %>
</div>