<p id="notice"><%= notice %></p>

<p>
  <h1><%= @trip.name %></h1>
  <%= button_to 'Edit trip', edit_user_trip_path(@user,@trip), :method => :get %>
</p>

<p>
  <b>Start: </b>
  <%= @trip.date_start.strftime("%B %d, %Y") %>

  <b>End: </b>
  <%= @trip.date_end.strftime("%B %d, %Y") %>

  <% unless @trip.notes.empty? %>
    <b>Notes:</b>
    <%= @trip.notes %>
  <% end %>
</p>

<br />
<div class="stops">
  <table class="table">
    <% for stop in @trip.stops %>
    <tr>
      <td><h3><%= link_to stop.school.name, school_path(stop.school) %></h3></td>
      <td>
        <%= isSchoolOpen(@trip,stop) ? "Open :)" : "Closed :(" %>
      </td>
      <td><a href=<%= get_yelp_search('Restaurants',stop.school) %> target="_blank"><img src="/images/yelp_logo.png" alt="Yelp logo" width="66.66" height="50"></a></td>
      <td><a href=<%= get_yelp_search('Hotels',stop.school) %> target="_blank"><img src="/images/bed_hotel_logo.png" alt="hotel bed" width="55" height="55"></a></td>
      <% if @school0 %>
        <td><a href=<%= get_gmaps_directions(@school0,stop.school.name) %> target="_blank">
          <img src="/images/Google-Maps-Logo.png" alt="GMaps logo" width="50" height="50"></a></td>
      <% end %>
      <% @school0 = stop.school.name %>
    </tr>
    <% end %>
  </table>
</div><br />

<div>
  <%= gmaps4rails(@json) %>
</div>