<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @trip.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Date start:</b>
  <%= @trip.date_start %>
</p>

<p>
  <b>Date end:</b>
  <%= @trip.date_end %>
</p>

<p>
  <b>Notes:</b>
  <%= @trip.notes %>
</p>

<ol class="stops">
  <b>Stops</b>
  <% for stop in @trip.stops %>
  <li><%= School.find_by_id(stop.school_id).name %></li>
  <% end %>
</ol>



<%= link_to 'Edit', edit_user_trip_path(@user,@trip) %> |
<%= link_to 'Back', user_trips_path %>
