<%= form_for([@school, @tour]) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </div>
  <h2>Repeats every</h2>
  <div class="field">
    <%= f.check_box :m %>
    <%= f.label :Monday, :id => "checkbox" %>
  </div>
  <div class="field">
    <%= f.check_box :t %>
    <%= f.label :Tuesday, :id => "checkbox" %>
  </div>
  <div class="field">
    <%= f.check_box :w %>
    <%= f.label :Wednesday, :id => "checkbox" %>
  </div>
  <div class="field">
    <%= f.check_box :r %>
    <%= f.label :Thursday, :id => "checkbox" %>
  </div>
  <div class="field">
    <%= f.check_box :f %>
    <%= f.label :Friday, :id => "checkbox" %>
  </div>
  <div class="field">
    <%= f.check_box :sa %>
    <%= f.label :Saturday, :id => "checkbox" %>
  </div>
  <div class="field">
    <%= f.check_box :su %>
    <%= f.label :Sunday, :id => "checkbox" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
