<h1>Listing tours</h1>

<table>
  <tr>
    <th>School</th>
    <th>Name</th>
    <th>Description</th>
    <th>Start time</th>
    <th>End time</th>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>R</th>
    <th>F</th>
    <th>Sa</th>
    <th>Su</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tours.each do |tour| %>
  <tr>
    <td><%= tour.school_id %></td>
    <td><%= tour.name %></td>
    <td><%= tour.description %></td>
    <td><%= tour.start_time %></td>
    <td><%= tour.end_time %></td>
    <td><%= tour.m %></td>
    <td><%= tour.t %></td>
    <td><%= tour.w %></td>
    <td><%= tour.r %></td>
    <td><%= tour.f %></td>
    <td><%= tour.sa %></td>
    <td><%= tour.su %></td>
    <td><%= link_to 'Show', tour %></td>
    <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
    <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tour', new_tour_path %>
