<p id="notice"><%= notice %></p>


<b>Name:</b>
  <%= @tour.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tour.description %>
</p>

<p>
  <b>Start:</b>
  <%= @tour.start_time.strftime('%l:%M %p') %>
</p>

<p>
  <b>End:</b>
  <%= @tour.end_time.strftime('%l:%M %p') %>
</p>

<p>
  <b>Mon:</b>
  <%= @tour.m %>
</p>

<p>
  <b>Tues:</b>
  <%= @tour.t %>
</p>

<p>
  <b>Wed:</b>
  <%= @tour.w %>
</p>

<p>
  <b>Thurs:</b>
  <%= @tour.r %>
</p>

<p>
  <b>Fri:</b>
  <%= @tour.f %>
</p>

<p>
  <b>Sat:</b>
  <%= @tour.sa %>
</p>

<p>
  <b>Sun:</b>
  <%= @tour.su %>
</p>

<% if can? :update, @tour %>
  <%= link_to 'Edit', edit_school_tour_path(@tour) %> |
<% end %>