<h1>Schools</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Planning tools</th>
    <% if can? :update, @school %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<%= paginate @schools %>

<% @schools.each do |school| %>
  <tr>
    <td><%= link_to school.name, school_path(school) %></td>
    <td><%= school.location %></td>
    <td><a href=<%= get_yelp_search('Restaurants',school) %> target="_blank"><img src="/images/yelp_logo.png" alt="Yelp logo" width="66.66" height="50"></a></td>
    <td><a href=<%= get_yelp_search('Hotels',school) %> target="_blank"><img src="/images/bed_hotel_logo.png" alt="hotel bed" width="55" height="55"></a></td>

    <% if can? :update, @school %>
      <td><%= link_to 'Edit', edit_school_path(school) %></td>
      <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @schools %>

<br />

<% if can? :create, @school %>
  <%= link_to 'New School', new_school_path %>
<% end %>

<div>
  <h4>Don't see the school you're looking for?  <a href="mailto:CollegeTripper@gmail.com?subject=Please add a new school&body=I'd like to see <add school name here> added to CollegeTripper.  Thanks!", target="_blank">Let us know!</a>
</div>