<p id="notice"><%= notice %></p>

<div class="school-fields" style="float:left">
  <p>
    <h1><%= @school.name %></h1>
  </p>

  <p>
    <h3><%= @school.location %></h3>
  </p>

</div>

<div style="float:right">
  <h2>Planning Tools</h2>
  <a href=<%= get_yelp_search('Restaurants',@school) %> target="_blank"><img src="/images/yelp_logo.png" alt="Yelp logo" width="66.66" height="50"></a>
  <a href=<%= get_yelp_search('Hotels',@school) %> target="_blank"><img src="/images/bed_hotel_logo.png" alt="hotel bed" width="55" height="55"></a>
  <a href=<%= get_gmaps_directions("",@school.name) %> target="_blank">
          <img src="/images/Google-Maps-Logo.png" alt="GMaps logo" width="50" height="50"></a>
</div>


<div class="links" style="clear:both">
  <div class="schedule-buttons">
    <%= link_to 'Calendar', school_holidays_path(@school) %> |
    <%= link_to 'Tour Schedule', school_tours_path(@school) %>
  </div>
  <div class="nav-links">
    <%= link_to 'Edit', edit_school_path(@school) %> |
    <%= link_to 'Back', schools_path %>
  </div>
</div>

<div>
  <%= gmaps4rails(@json) %>
</div>

<div class="campus-calendar-index">
  <h1>Holidays</h1>
    <table>
    <tr>
      <th>School</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @holidays.each do |holiday| %>
    <tr>
      <td><%= holiday.school_id %></td>
      <td><%= holiday.start_date %></td>
      <td><%= holiday.end_date %></td>
      <td><%= holiday.notes %></td>
      <td><%= link_to 'Show', school_holiday_path(@school,holiday) %></td>
      <td><%= link_to 'Edit', edit_school_holiday_path(@school,holiday) %></td>
      <td><%= link_to 'Destroy', school_holiday_path(@school,holiday), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'New Holiday', new_school_holiday_path(@school) %>
</div>

<div class="tour-schedule-index">
  <h1>Tours</h1>
    <table>
      <tr>
        <th>School</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start time</th>
        <th>End time</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>R</th>
        <th>F</th>
        <th>Sa</th>
        <th>Su</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.school_id %></td>
        <td><%= tour.name %></td>
        <td><%= tour.description %></td>
        <td><%= tour.start_time %></td>
        <td><%= tour.end_time %></td>
        <td><%= tour.m %></td>
        <td><%= tour.t %></td>
        <td><%= tour.w %></td>
        <td><%= tour.r %></td>
        <td><%= tour.f %></td>
        <td><%= tour.sa %></td>
        <td><%= tour.su %></td>
        <td><%= link_to 'Show', school_tour_path(@school,tour) %></td>
        <td><%= link_to 'Edit', edit_school_tour_path(@school,tour) %></td>
        <td><%= link_to 'Destroy', school_tour_path(@school,tour), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
    <br />
    <%= link_to 'New Tour', new_school_tour_path(@school) %>
</div>