<p id="notice"><%= notice %></p>

<div class="school-fields" style="float:left">
  <p>
    <h1><%= @school.name %></h1>
  </p>

  <p>
    <h3><%= @school.location %></h3>
  </p>

</div>

<div style="float:right">
  <h2>Planning Tools</h2>
  <a href=<%= get_yelp_search('Restaurants',@school) %> target="_blank"><img src="/images/yelp_logo.png" alt="Yelp logo" width="66.66" height="50"></a>
  <a href=<%= get_yelp_search('Hotels',@school) %> target="_blank"><img src="/images/bed_hotel_logo.png" alt="hotel bed" width="55" height="55"></a>
  <a href=<%= get_gmaps_directions("",@school.name) %> target="_blank">
          <img src="/images/Google-Maps-Logo.png" alt="GMaps logo" width="50" height="50"></a>
</div>

<div class="links" style="clear:both">
  <div class="nav-links">
    <%= link_to 'Edit', edit_school_path(@school) %> |
    <%= link_to 'Back', schools_path %>
  </div>
</div>

<div>
  <%= gmaps4rails(@json) %>
</div>

<div class="campus-calendar-index">
  <%= render 'holidays/holidays_index' %>
</div>

<div class="tour-schedule-index">
  <%= render 'tours/tours_index' %>
</div>