<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active brand">
          <%= link_to "CollegeVisit.me", root_path %>
        </li>
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "Contact", pages_contact_path %></li>
      </ul>

      <ul class="nav pull-right">
        <% if current_user %>
          <li><%= link_to "Schools", schools_path %> </li> 
          <li><%= link_to "My Trips", user_trips_path(current_user) %></li>
          <li><%= link_to "Account", edit_user_registration_path(current_user) %></li>
          <li><%= button_to('Sign out', destroy_user_session_path, :method => :delete) %><li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

